* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto Lt", sans-serif;
    font-size: 10px;
    color: #333;
    scroll-behavior: smooth;
}



.main {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.tone-1 {
    background-color: none;
    height: 100vh;
    flex: 1;
}

.tone-2 {
    background-color:none;
    height: 100vh;
    flex: 1;
    position: relative;
}


header {
    width: 100%;
    height: 100vh;
    position: relative;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

.menu-toggle {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    display: none;
    z-index: 999;
}

.menu-toggle i,
.fa-times {
    font-size: 3.5rem;

}

.fa-times {
    display: none;
    cursor: pointer;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.075);
    z-index: 1000;
}

.logo {
    background-color: none;
    width: 15rem;
    box-sizing: content-box;
    padding-left: 3rem;
}

.logo img {
    background-color: none;
    display: block;
    width: 100%;
}

nav ul {
    height: 8rem;
    list-style: none;
    display: flex;
    font-size: 1.6rem;
}

nav ul li {
    padding: 0 3rem;
    line-height: 8rem;
    transition: background-color .5s;
}

nav ul li:hover {
    background-color: rgba(0,0,0,.075);
}

.nav-right ul li {
    border-right: 1px solid rgba(0,0,0,.075);
}

.nav-right  ul li:nth-child(1) {
    border-left: 1px solid rgba(0,0,0,.075);
}

.nav-right ul li:last-child {
    border-right: none;
}

.nav-right i {
    margin-right: 1rem;
}

.nav-right i:first-child {
    margin-right: 0;
}

.nav-right i {
    margin-right: .5rem;
}

span {
    margin-right: .5rem;
}

#search {
    width: 50%;
}

#search-2 {
    padding: 1.375rem .75rem;
    font-size: 2rem;
}

#button-1 {
    font-size: 2rem;
    background-color: #f8f9fa;
    color: black;

}

.buttons {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.tono-1 {
    height: 100vh;
    flex: 1;
}

.tono-2 {
    height: 100vh;
    flex: 1;
    position: relative;
}

.tono-2 img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: -15rem;
    transform: translateY(-45%);
}

.product-info {
    display: flex;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-info h1 {
    font-size: 5rem;
    font-family: fantasy;
    letter-spacing: 3px;
    margin-right: -3px;
    font-weight: 100;
    margin-bottom: 1rem;
    text-align: center;
}

.product-info p {
    font-size: 1.8rem;
    margin-bottom: 4rem;
}

.product-info h2 {
    font-size: 2.5rem;
    margin-bottom: 5rem;
}

.btns {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    color:#f7f7f6 !important;
    font-size: 1.5rem;
    font-weight: 900;
    transition: all .5s;
}

.info-btns {
    display: flex;
}

.discover-btn {
    background-color: #a4a4a4;
}


.cart-btn {
    background-color: #141110;
}

.discover-btn:hover,
.cart-btn:hover {
    box-shadow: 3px 1rem 2rem rgba(0,0,0,.3);
    transform: translateY(-1rem);
}

.container-cards {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 8rem;
}

#rows {
    width: 70%;
    margin: 0;
    padding: 0;
}

#search-key {
    position: relative;
}

.container-result {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    align-items: center;
}

#search-result {
    margin-right: 10px;
}

.result {
    margin: 0;
    margin-right: 1rem;
}

.go-back {
    margin: 0;
    margin-left: 1rem;
}

#btn-go-back {
    margin-right: 1rem;
    cursor: pointer;
}


.add-to-cart {
    position: absolute;
    display: block;
    visibility: hidden;
    cursor: pointer;
    width: 155px;
    text-align: center;
    padding: 5px;
    height: 38px;
    font-weight: 600;
    top: 50%;
    left: 30%;
    color: white;
    background-color: black;
    opacity: 0.8;
}

.card:hover .add-to-cart {
    visibility: visible;
}

.products {
    position: absolute;
    display: block;
    visibility: hidden;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    font-weight: 600;
    top: 0%;
    color: white;
    background-color: black;
    opacity: 0.8;
}

.card:hover .products {
    visibility: visible;
}

.products-price {
    position: absolute;
    display: flex;
    justify-content: space-between;
    visibility: hidden;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    font-weight: 600;
    top: 93%;
    color: white;
    background-color: black;
    opacity: 0.8;
}



.card:hover .products-price {
    visibility: visible;
}
 

.p-price {
    position: relative;
    right: 10px;
    margin: 0;
}

.h2-price {
    position: relative;
    font-size: 2rem;
    left: 3rem;
}

#add-cart {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

.cart-container {
    font-size: 2rem;
    position: relative;
    margin: 2rem;
}

.ul-cart {
    display: flex;
    flex-direction: column;
    list-style: none;
    /* align-items: center; */
}

.trash-btn {
   margin-left: 1rem;
   cursor: pointer;
}

.img-trash {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.6rem;
    
}



/*modal*/
.modal {
    position: fixed;
    top: 0;
    left: 5rem;
    font-size: 1.6rem;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    outline: 0;
}

.modal-title {
    font-size: 1.6rem;
    margin-bottom: 0;
    line-height: 1.5;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

#cart {
   position: relative;
   margin: 0;
   left: 3rem;
   width: 100%;
}

.total-price {
    max-width: 450px;
    display: flex;
    justify-content: flex-end;
}

.img-cart {
    width: 50%;
}

.btn {
    font-size: 1.6rem;
}

/*form*/

.form {
    padding: 1rem;
}

.form-card {
    margin: 1rem;
}

.finish {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.finish p {
    font-size: 3rem;
}

.form-group-btn {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
/*credit card*/
.credit-card-div  span {
    padding-top:10px;
}

.credit-card-div img {
    padding-top:30px;
}
.credit-card-div .small-font {
    font-size:9px;
}
.credit-card-div .pad-adjust {
    padding-top:10px; 
}

#btn-card {
    display: flex;
    margin-bottom: 1rem;
}

#card {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0;
}

#card img {
    margin-left: 1rem;
    position: relative;
    bottom: 1.5rem;
}

/*footer*/

footer {
    margin-top: 7rem;
    padding-top: 2.9rem;
    background-color:ivory;
    opacity:inherit;
    color: black;
    text-align: center;
    position: relative;
}

.back-to-top {
    width: 6rem;
    height: 6rem;
    background-color: #121212;
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.back-to-top i {
    display: block;
    color: #fff;
    font-size: 2rem;
    padding: 2rem;
    animation: up 2s infinite;
}

.footer-content {
    overflow: hidden;
}

.footer-content h4 {
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
}


.social-icons {
    list-style: none;
    margin-bottom: 1.4rem;
    display: flex;
    justify-content: center;
}

.social-icons i {
    font-size: 2rem;
    color: ##1c0d02;
    padding: .8rem 2rem;
    opacity: .5;
    transition: color .5s;
}

.social-icons i:hover,
.social-icons i:focus {
    color:  #c59d5f;
}
.copyright {
    width: 100%;
    text-align: center;
    margin: 0;
    position: relative; 
}

#footer-1 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}


/*#cards {
    position: relative;
    display: flex;
}*/



@media screen and (max-width: 1200px) {
    .tone-2 img {
        left: -8rem;
    }

    .product-info h1 {
        font-size: 3.5rem;
        margin-bottom: 2rem;
    }

    .product-info p {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .product-info h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .btns {
        padding: 1.5rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 900px) {

    .logo {
        padding-left: 1.5rem;
    }

    nav {
        display: flex;
        border-bottom: none;
        flex-direction: column;
        width: 25rem;
        height: 100vh;
        background-color: #f7f7f6;
        justify-content: space-evenly;
        transform: translateX(-25rem);
        transition: transform .5s;
    }

    nav ul {
        height: initial;
        display: block;
        font-size: 2rem;
        text-align: center;
    }

    nav ul li {
        padding: 0;
        line-height: initial;
        margin-bottom: 2rem;
    }

    .logo {
        padding: 0;
    }

    .nav-right ul li,
    .nav-right ul li:nth-child(1) {
        border: none;
    }

    .menu-toggle {
        display: flex;
    }

    .fa-times {
        display: block;
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    .active {
        transform: translateX(0);
    }

    .overlay {
        position: absolute;
        width: 0;
        height: 100vh;
        background-color: rgba(0,0,0,.8);
        z-index: 998;
        opacity: 0;
        transition: opacity .5s;
    }

    .overlay.menu-open {
        width: 100%;
        opacity: 1;
    }

    .tono-2 img {
        width: 100%;
        position: absolute;
        top: 50%;
        left: -5.5rem;
        transform: translateY(-45%);
    }

    


}

@media screen and (max-width: 600px) {


    .tono-2 img {
        width: 100%;
        position: absolute;
        top: 50%;
        left: -5rem;
        transform: translateY(-45%);
    }

    .product-info p {
        font-size: 1.2rem;
    }

    .btns {
        padding:  1rem;
    }

    nav {
        display: flex;
        border-bottom: none;
        flex-direction: column;
        width: 25rem;
        height: 100vh;
        background-color: #f7f7f6;
        justify-content: space-evenly;
        transform: translateX(-25rem);
        transition: transform .5s;
    }

    nav ul {
        height: initial;
        display: block;
        font-size: 2rem;
        text-align: center;
    }

    nav ul li {
        padding: 0;
        line-height: initial;
        margin-bottom: 2rem;
    }

    .logo {
        padding: 0;
    }

    .nav-right ul li,
    .nav-right ul li:nth-child(1) {
        border: none;
    }

    .menu-toggle {
        display: flex;
    }

    .fa-times {
        display: block;
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    .active {
        transform: translateX(0);
    }

    .overlay {
        position: absolute;
        width: 0;
        height: 100vh;
        background-color: rgba(0,0,0,.8);
        z-index: 998;
        opacity: 0;
        transition: opacity .5s;
    }

    .overlay.menu-open {
        width: 100%;
        opacity: 1;
    }

    .container-cards {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        /* align-items: center; */
    }

    #rows {
        width: 50% !important;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    #search {
        width: 65%;
    }

    .add-to-cart {
        position: absolute;
        display: block;
        visibility: hidden;
        cursor: pointer;
        width: 100px;
        text-align: center;
        padding: 5px;
        height: 38px;
        font-weight: 600;
        top: 45%;
        left: 30%;
        color: white;
        background-color: black;
        opacity: 0.8;
    }

    .products-price {
        position: absolute;
        display: flex;
        justify-content: space-between;
        visibility: hidden;
        width: 100%;
        text-align: center;
        font-size: 2rem;
        padding: 0;
        margin: 0;
        font-weight: 600;
        top: 89%;
        color: white;
        background-color: black;
        opacity: 0.8;
    }

    .modal {
        position: fixed;
        top: 0;
        left: 5rem;
        font-size: 1.6rem;
        z-index: 1050;
        display: none;
        width: 80%;
        height: 100vh;
        overflow: hidden;
        outline: 0;
    }

    .total-price {
        max-width: 380px;
        display: flex;
        justify-content: flex-end;
    }

}

@media screen and (max-width: 400px) {
    .tono-2 img {
        width: 100%;
        position: absolute;
        top: 50%;
        left: -3rem;
        transform: translateY(-45%);
    }

    .product-info h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .product-info p {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .product-info h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .btn {
        padding: .7rem;
        font-size: .8rem;
    }

    .container-cards {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        /* align-items: center; */
    }

    #rows {
        width: 50%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    #search-2 {
        padding: 1.375rem .75rem;
        font-size: 1.5rem;
    }

    #button-1 {
        font-size: 1rem;
        background-color: #f8f9fa;
        color: black;
    }

    .add-to-cart {
        position: absolute;
        display: block;
        visibility: hidden;
        cursor: pointer;
        width: 90px;
        text-align: center;
        padding: 0px;
        height: 30px;
        font-weight: 600;
        top: 45%;
        left: 21%;
        color: white;
        background-color: black;
        opacity: 0.8;
    }

    .products-price {
        position: absolute;
        display: flex;
        justify-content: space-between;
        visibility: hidden;
        width: 100%;
        text-align: center;
        font-size: 2rem;
        padding: 0;
        margin: 0;
        font-weight: 600;
        top: 86%;
        color: white;
        background-color: black;
        opacity: 0.8;
    }

    .p-price {
        position: relative;
        font-size: 1.5rem;
        right: 10px;
        margin: 0;
        bottom: 1px;
    }

    .product-prices {
        padding: 0;
        font-size: 1.5rem;
    }

    .h2-price {
        position: relative;
        font-size: 1.5rem;
        left: 3rem;
    }
}

